@font-face {
  font-family: "Quincy";
  src: url("../fonts/quincy/quincy/QuincyCF-Regular.otf") format("opentype"); }

body {
  background-color: white;
  font-family: "Source Sans Pro"; }

.banner {
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 10%; }

.logo {
  margin: auto; }

.banner-menu {
  height: 300px;
  width: 100%;
  background: rgba(204, 204, 204, 0.5);
  position: absolute;
  top: 500px;
  text-align: center;
  padding-top: 30px;
  color: white; }

.about {
  padding: 50px;
  background-color: white;
  height: 500px; }
  .about .blurb {
    border-right: 2px #cfcfcf solid;
    padding-right: 90px;
    height: 380px; }
    .about .blurb h1 {
      font-size: 25px;
      font-weight: bold; }

.info {
  padding-left: 20px; }
  .info h1 {
    font-size: 30px;
    color: #7f5f54; }

.food-menu {
  background-image: url("../img/menu-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  display: inline-block;
  width: 100%; }

.reservations {
  height: 800px;
  background-color: white; }

.experience {
  width: 500px;
  height: 300px;
  background: rgba(204, 204, 204, 0.5);
  color: white;
  text-align: center;
  margin-top: 150px; }

.page-footer {
  height: 400px;
  background-color: #252525;
  color: white;
  text-align: center; }

.footer {
  border-bottom: 1px white solid;
  padding: 20px;
  padding-bottom: 70px; }

.button {
  background: 255, 255, 255, 0.1;
  border: 1px solid white; }

p {
  font-size: 15px; }
