@font-face {
  font-family: "Quincy";
  src: url("../fonts/quincy/quincy/QuincyCF-Regular.otf") format("opentype"); }

body {
  background-color: white;
  font-family: "Source Sans Pro";
  font-weight: 300; }

.banner {
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 10%; }

.logo {
  margin: auto; }

.banner-menu {
  height: 300px;
  width: 100%;
  background: rgba(192, 175, 155, 0.6);
  position: absolute;
  top: 500px;
  text-align: center;
  padding-top: 30px;
  color: white; }

.about {
  padding: 60px;
  background-color: white;
  height: 500px; }
  .about .blurb {
    border-right: 2px #cfcfcf solid;
    padding-right: 90px;
    height: 380px; }
    .about .blurb h1 {
      font-size: 25px;
      font-weight: bold; }

.info {
  padding-left: 20px; }
  .info h1 {
    font-size: 30px;
    color: #7f5f54; }

.food-menu {
  background-image: url("../img/menu-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  display: inline-block;
  width: 100%; }

.reservations {
  height: 800px;
  background-color: white;
  text-align: center; }

.experience {
  width: 700px;
  height: 200px;
  background: rgba(192, 175, 155, 0.8);
  color: white;
  text-align: center;
  margin-top: 150px;
  font-size: 75px;
  font-family: "quincy";
  font-style: italic;
  padding-top: 38px; }

.page-footer {
  height: 400px;
  background-color: #252525;
  color: white;
  text-align: center; }

.footer {
  border-bottom: 1px white solid;
  padding: 20px;
  padding-bottom: 70px; }

.button1 {
  background-color: transparent;
  border: 1px solid white;
  color: white; }

.button2 {
  background-color: #C0AF9B;
  border: none;
  color: white; }

p {
  font-size: 17px;
  line-height: 2; }

.nav-expanded {
  display: inline-block; }

.nav-compressed {
  display: none; }

.navmenu {
  list-style: none;
  font-size: 40px; }
